.wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  font-family: sans-serif;
  align-items: flex-start;
  justify-content: center;
}

.image {
  width: 640px;
  max-width: 640px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 0;
}

.title,
h3,
.description,
.price,
.list li,
.form input,
.form textarea,
.form .react-datepicker-wrapper input {
  color: #101828;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.id,
.formSubtitle {
  color: #8d929a;
}

.id {
  font-size: 14px;
  margin-left: 10px;
}

.location {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #3470ff;
}

.description {
  margin-bottom: 25px;
  line-height: 1.6;
}

.list {
  margin-bottom: 110px;
  padding-left: 0;
  list-style: none;
}

.list:last-of-type {
  margin-bottom: 0;
}

.list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.list li svg {
  display: inline-block;
  vertical-align: middle;
  align-self: center;
}

.formSection {
  margin-top: 40px;
  width: 640px;
  max-width: 640px;
}

.formWrapper {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  max-width: 640px;
  height: 548px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.formTitle {
  margin: 0;
  font-size: 22px;
  color: #333;
}

.formSubtitle {
  margin: 0 0 24px 0;
  font-size: 16px;
  color: #8d929a;
}

.form input,
.form textarea,
.form .react-datepicker-wrapper input {
  width: 100%;
  margin-bottom: 15px;
  padding: 14px 20px;
  border: 1.5px solid transparent;
  background-color: #f7f7f7;
  border-radius: 12px;
  font-size: 16px;
  resize: none;
  flex-shrink: 0;
  transition: border-color 0.2s;
}

.form input:focus,
.form textarea:focus,
.form .react-datepicker-wrapper input:focus,
.form input:hover,
.form textarea:hover,
.form .react-datepicker-wrapper input:hover {
  outline: none;
  border-color: #3470ff;
  box-shadow: none;
}

.form input::placeholder,
.form textarea::placeholder,
.form .react-datepicker-wrapper input::placeholder {
  color: #8d929a;
  opacity: 1;
}

.form textarea {
  min-height: 80px;
  margin-bottom: 0;
}

.form .error {
  color: #dc3545;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: 32px auto 0 auto;
  padding: 12px 58px;
  background-color: #3470ff;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.2s ease;
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  background-color: #0b44cd;
}
