.filterContainer {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  margin-bottom: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.filterGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #8a8a89;
  margin-bottom: 8px;
}

.input,
.select {
  height: 48px;
  min-width: 0;
  width: auto;
  padding: 14px 18px;
  border-radius: 14px;
  border: none;
  background-color: #f7f7fb;
  font-size: 18px;
  font-weight: 500;
  color: #121417;
  box-sizing: border-box;
}

.input:focus,
.select:focus {
  outline: 1px solid #3470ff;
}

.select {
  background-repeat: no-repeat;
  background-position: right 18px center;
  cursor: pointer;
  padding-right: 36px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  scrollbar-color: #d1d1e0 #f7f7fb;
  scrollbar-width: thin;
}

.select option,
.select optgroup {
  background: #f7f7fb;
}

.select::-webkit-scrollbar {
  width: 8px;
  background: #f7f7fb;
}

.select::-webkit-scrollbar-thumb {
  background: #d1d1e0;
  border-radius: 8px;
}

.customSelectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.selectArrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  pointer-events: none;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.selectArrow[data-open="true"] {
  transform: translateY(-50%) rotate(180deg);
}

.mileageInputs {
  display: flex;
}

.mileageInputFrom {
  width: 250px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.mileageInputTo {
  width: 250px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.searchButton {
  padding: 14px 44px;
  background-color: #3470ff;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 48px;
  box-sizing: border-box;
}

.searchButton:hover {
  background-color: #0b44cd;
}

.resetButton {
  background-color: #8a8a89;
}

.resetButton:hover {
  background-color: #6b6b6a;
}
